$color-black-cow: #474747;
$color-storm-dust: #636363;
$color-white: #ffffff;
$color-persian-green: #07aba9;
$color-clear-blue: #1f70ff;
$color-dune: #333333;
$color-jellyfish: #25cacb;
$color-lavender-mist: #dbebff;
$color-boulder: #7a7a7a;
$color-sea-green: #208e3f;
$color-off-green: #e6f8eb;
$color-medium-green: #3bab5a;
$color-ferrari-red: #ee0713;
$color-davy-grey: #545454;
$color-ginger: #aa5d00;
$color-eminence: #7928a1;
$color-blaze-orange: #fa6800;
