@font-face {
  font-family: Helvetica, sans-serif;
  src: url('~../assets/fonts/Helvetica.ttf') format("ttf");
}


$fontset-normal: Helvetica, sans-serif; // for english

// Font weight
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// Font Size
$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-24: 24px;
$font-28: 28px;
