@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    src: url('../src/assets/fonts/Inter-Regular.woff2') format('woff2');
  }

.sb-show-main {
  font-size: 16px;
  font-weight: 400;
  color: #434343;
  font-family: 'Inter', sans-serif;
}